{% extends 'layout.twig' %}

{% block body %}
  <section class="bloc">
      <div class="bloc1">
        <div class="textebloc1">
          <h2>
            Ne perdez plus le fil avec Treecotage !
          </h2>
          <p>Découvrez dès à présent votre nouvel assistant pour vous aider dans tous vos projets de crochet ou de tricot. Connectez-vous pour commencer l’aventure !</p>
        </div>
        <div class="boutonbloc1">
          <button class="boutonNoir" type="button" href="#">
            Se Connecter
          </button>
          <button class="boutonNoir" type="button" href="#">
            Télécharger sur l'App Store
          </button>
          <button class="boutonNoir" type="button" href="#">
            Télécharger sur Play Store
          </button>
        </div>
      </div>
    </section>
    <section class="bloc">
      <div class="bloc2">
        <div class="textebloc2">
          <h1>UN OUTIL VOUS AIDANT A MENER A BIEN VOTRE PROJET</h1>
          <p>
            Que vous soyez débutant ou expert, Tree Cottage est l’outil
            parfait pour vous accompagner pas à pas dans vos projets de
            tricot et de tricotage. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
        <div class="image2">
          <img
            src="images/TricotLifestyle/TricotPotiron2.jpg"
            alt="Tricot Potiron"
          />
        </div>
      </div>
    </section>
    <section class="bloc">
      <div class="bloc3">
        <div class="textebloc3">
          <h1>NOTRE OBJECTIF: VOUS FAIRE PASSER UN BON MOMENT</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="image3">
          <img
            src="images/TricotLifestyle/BonnetAutomne.jpg"
            alt="Bonnet Automne"
          />
        </div>
      </div>
    </section>
    <section class="bloc">
      <div class="bloc4">
        <div class="textebloc4">
          <h1>DES ASTUCES ET CONSEILS POUR PROGRESSER A VOTRE RYTHME</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="image4">
          <img
            src="images/TricotLifestyle/sacCrochet.jpg"
            alt="Sac Crochet"
          />
        </div>
      </div>
    </section>
    <section class="bloc">
      <div class="bloc5">
        <div class="textebloc5">
          <h1>UNE COMMUNAUTE DE DIY POUR S’ENTRAIDER</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="image5">
          <img src="images/TricotLifestyle/PullCiel.jpg" alt="Pull Ciel" />
        </div>
      </div>
    </section>
    <section>
      <div class="blocfinal">
        <div class="texteblocfinal">
          <h2>TESTEZ TREECOTAGE DES MAINTENANT</h2>
        </div>
        <div class="boutonbloc1">
          <button class="boutonNoir" type="button" href="#">
            Se Connecter
          </button>
          <button class="boutonNoir" type="button" href="#">
            Télécharger sur l'App Store
          </button>
          <button class="boutonNoir" type="button" href="#">
            Télécharger sur Play Store
          </button>
        </div>
      </div>
    </section>
{% endblock %}
