.formulaire {
  width: 80%;
  margin: 0px auto;
  left: auto;
  right: auto;

  .formulaireblock {
    display: flex;
    flex-direction: column;
    width: 100%;

    legend {
      left: 0;
      font-family: 'roboto';
      font-size: 28px;
    }
    input {
      margin-top: 30px;
      height: 38px;
      width: 100%;
      background-color: $fondFormulaire;
      border-radius: $borderFormulaire;
      border: none;
    }
    textarea {
      margin-top: 30px;
      width: 100%;
      height: 88px;
      background-color: $fondFormulaire;
      border-radius: $borderFormulaire;
      border: none;
    }
    ::placeholder {
      color: black;
      font-size: 16px;
      padding-left: 20px;
    }
  }
}
#nom,
#prenom {
  width: 48%;
}
#email {
  width: 100%;
}
