// COULEUR PAGE
$fondPrincipal: #ffffff;
$footerColor: #eef1f2;

// Couleur graphique

$couleurRouge: #e09c90;
$couleurVerte: #b8d4d1;
$couleurBleu: #d7def8;
$couleurJaune: #fff3c4;
$couleurOrange: #ecb67f;

//Formumaire
$fondFormulaire: #eef1f2;
$borderFormulaire: 15px;
